@import url('https://fonts.googleapis.com/css?family=Raleway:500');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
}
ul {
    list-style: none;
}

#WS-breadcrumb a {
    text-decoration: none;
}
#WS-breadcrumb .past-item {
  color: grey;
  transition: all 0.5s ease;
}
#WS-breadcrumb .past-item:hover {
  color: black;
}
#WS-breadcrumb .current-location {
  color: black;
}
#WS-breadcrumb {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15%;
    border-bottom: 1px solid lightgrey;
    font-size: 10px;
}
